:root{
    --bodyBG: #f6f6f6;
    --bodyFont: #2b3445;
    --blue: #9fc5ef;
    --blue-button: #1976d2;
    --red-button: #e41d43;
    --icons: #40464d;
    --footer-bg: #212529;
    --white: #fff;
}

body{
    background-color: var(--bodyBG);
    color: var(--bodyFont);
}

/*======================
        My classes
========================*/

.border{
    border: 4px solid red;
}

.flex{
    display: flex;
    align-items: center;
}

/*====================
    General style
======================*/

*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main{
    width: 80%;
    margin-inline: auto;
}

@media (width < 600px) {
    main{
        width: 100%
    }
}

/*========================
        html elements
==========================*/



a,button{
    all: unset;
    display: inline-block;
    transition: 0.2s;
}

button:active, a:active{
    scale:0.9;
}

button:disabled{
    opacity: 0.7;
    cursor:not-allowed;
    scale: 1;
}

li{
    margin-left: 2rem;
    list-style: none;
}

.fa-solid{
    color: var(--icons);
}